.main-container{
    background-image:url("../images/Dots_Backdrop_Light_3.png");
    background-size:cover;
    position:fixed;
    top:0px;
    right:0px;
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-rows:minmax(0, 0.8fr) 8.6fr minmax(0, 0.6fr);
    font-family:Arial, Helvetica, sans-serif;
}

/*Header Start*/
.head-container{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-end;
}

.logo-container{
    padding:.5% .5% .5% 1%;
    margin-right:auto;
    display:flex;
    width:auto;
    max-height:100%;
    justify-content:center;
    align-items:center;
}
.logo{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    max-height:100%;
}
#menu {
    z-index: 2.5;
  }
  
  #menu-bar {
    width: 43px;
    height: 37px;
    margin: 10px 40px 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: black;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    right:0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 10px 10px 20px 20px;
    background: radial-gradient(circle, #ffe601, #ffe601);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: black;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(60%,-30%);
  }
/*Header End*/
.foot-container{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-end;
    font-size:small;
}

.footItem{
    padding: 0.5% 0.5% 0.25% 0.5%;
    margin-right:auto;
    display: flex;
    align-items:center;
    justify-content:center;
    color: black;
}

.footIcon{
    padding: 0.5% 0.5% 0.5% 0.5%;
    display:flex;
    justify-content:center;
    align-items:center;
    width:auto;
    max-height:100%;
}

.footImg{
    max-height:100%;
    width:auto;
}
