.main-container{
    position:fixed;
    top:0px;
    right:0px;
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-rows:2fr 7fr 1fr;
}

.head-container{
    background-color: yellow;
}

.interactive-container{
    background-color: blueviolet;
}

.foot-container{
    background-color: navy;
    display:grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.foot
{
    color: white;
    text-align:center;
    vertical-align: middle;
}
.logo
{
    background-color: deeppink;
    grid-row:1;
    grid-column:1;
}
.about
{
    background-color: firebrick;
}
.contact 
{
    background-color: darkseagreen;
    grid-row:1;
    grid-column:2;
}
.terms
{
    background-color: darkslateblue;
    grid-row:1;
    grid-column:4;
}
.privacy
{
    background-color: goldenrod;
    grid-row:1;
    grid-column:5;
}
.socials
{
    background-color: maroon;
    grid-row:1;
    grid-column:3;
}
.description
{
    background-color: plum;
    grid-row:2;
    grid-column:1;
}