.main-container{
    position:fixed;
    top:0px;
    right:0px;
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-rows:2fr 7fr 1fr;
}

.head-container{
    background-color: yellow;
}

.interactive-container{
    background-color: blueviolet;
}

.foot-container{
    background-color: navy;
    display:grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.foot
{
    color: white;
    text-align:center;
}
.company
{
    background-color: deeppink;
}
.about
{
    background-color: firebrick;
}
.contact 
{
    background-color: darkseagreen;
}
.connect
{
    background-color: deepskyblue;
}
.termsAndPrivacy
{
    background-color: darkslateblue;
}