.main-container{
    position:fixed;
    top:0px;
    right:0px;
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-rows:0.75fr 9fr 0.5fr;
    font-family:Arial, Helvetica, sans-serif;
}

.head-container{
    background-color: #ECECEC;
    display:grid;
    grid-template-columns:2fr 4.5fr 1fr 1fr 1fr 0.25fr;
}

.logo-container{
    display:grid;
    grid-template-columns:1fr 9.5fr 1fr;
    grid-template-rows:1fr 9.5fr 1fr;
}

.logo{
    object-fit:cover;
    width:100%;
    max-height:100%;
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:2;
}

.navItem{
    display:flex;
    align-items:center;
    justify-content:center;
    color:black;
    text-decoration:none;
}

.icon-container{
    display:grid;
    grid-template-rows:1fr 1fr;
}

.interactive-container{
    background-color: white;
}

.foot-container{
    background-color: #ECECEC;
}