.main-container{
    background-image:url("../images/Dots_Backdrop_Light_3.png");
    background-size:cover;
    position:fixed;
    top:0px;
    right:0px;
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-rows:minmax(0, 0.8fr) 8.6fr minmax(0, 0.6fr);
    font-family:Arial, Helvetica, sans-serif;
}

.head-container{
    /*background-color: #ECECEC;*/
    /*background-color:rgba(136,136,136,0.5);*/
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-end;
}

.logo-container{
    padding:.5% .5% .5% 1%;
    margin-right:auto;
    display:flex;
    width:auto;
    max-height:100%;
    justify-content:center;
    align-items:center;
}
.logo{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    max-height:100%;
}

.nav-menu{
    list-style:none;
}

.nav-menu li{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-end;
    align-items:center;
    width:100%;
    height:100%;
}

.nav-menu li a{
    padding:0% 18% 0% 18%;
    color:black;
    font-weight:bold;
    text-decoration:none;
    font-size:1.15em;
    white-space:nowrap;
}

.menu-icon{
    padding: 1.3% 1.3% 1.3% 1.3%;
    display:flex;
    justify-content:center;
    align-items:center;
    width:auto;
    max-height:100%;
}

.hamburger{
    max-height:100%;
    width:auto;
}

/*.navItem{
    padding-left:2%;
    padding-right:2%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:black;
    font-weight:bold;
    text-decoration:none;
    font-size:1em;
    text-align:center;
}

.navItem:hover{
    background-color:#FFE200;
    color:black;
}

.currentPage{
    background-color:#bbbbbb;
    color:white;
}

.icon-container{
    width:3%;
    display:grid;
    grid-template-rows:1fr 1fr;
    justify-items:center;
}

.icon{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    max-height:100%;
}

.icon:hover{
    background-color:#FFE200;
}

.switch{
    width:50%;
    height:auto;
}

.settings{
    width:50%;
    height:auto;
}
*/
.interactive-container{
    /*background-color: white;*/
}

.foot-container{
    /*background-color: #ECECEC;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-end;
    font-size:small;
}

.footItem{
    padding: 0.5% 0.5% 0.25% 0.5%;
    margin-right:auto;
    display: flex;
    align-items:center;
    justify-content:center;
    color: black;
}

.footIcon{
    padding: 0.5% 0.5% 0.5% 0.5%;
    display:flex;
    justify-content:center;
    align-items:center;
    width:auto;
    max-height:100%;
}

.footImg{
    max-height:100%;
    width:auto;
}